# Composer
/vendor/
/backend/vendor/
composer.json
composer.lock
composer.phar

# Logs
/backend/logs/

# Temporary directories
/scratch/

# Environment Variables and Local Configs
.env
.env.*
config.local.php
credentials.php